{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_bs5compat/index

    TODO describe template index

    Example context (json):
    {
    }
}}

{{! .media component example }}
<h2 class="h3">Example of .media component</h2>
<div class="media">
    <img class="mr-3" src="https://placekitten.com/g/100/100">
    <div class="media-body">
        <h3 class="h5 mt-0">Media heading</h5>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas unde voluptates quia illo, deserunt, ex quaerat cum libero tempora dicta dolores non dolorem ullam necessitatibus ducimus distinctio. Vero, dolor ipsam!
    </div>
</div>

{{! .badge component example }}
<h2 class="h3 mt-5">Examples of badges</h2>
<div class="d-flex">
    <span class="badge badge-primary mr-2">Primary</span>
    <span class="badge badge-secondary mr-2">Secondary</span>
    <span class="badge badge-success mr-2">Success</span>
    <span class="badge badge-danger mr-2">Danger</span>
    <span class="badge badge-warning mr-2">Warning</span>
    <span class="badge badge-info mr-2">Info</span>
    <span class="badge badge-light mr-2">Light</span>
    <span class="badge badge-dark mr-2">Dark</span>
    <span class="badge badge-primary badge-pill mr-2">Badge pill</span>
</div>

{{! .form component example }}
<h2 class="h3 mt-5">Examples of forms</h2>

<div class="form-group">
    <label for="formGroupExampleInput">Example label</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
</div>

<form class="form-inline">
    <div class="form-group">
        <label class="accesshide" for="test">{{#str}}search{{/str}}</label>
        <input type="text" class="form-control" id="test" placeholder="{{#str}}search{{/str}}" value="">
        <button class="btn btn-secondary icon-no-margin ml-1">{{#pix}}a/search, ,{{#str}}search{{/str}}{{/pix}}</button>
    </div>
</form>

{{! .card-deck example }}
<h2 class="h3 mt-5">Example of card deck</h2>

<div class="card-deck">
    <div class="card">
        <div class="card-header">Header</div>
        <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
        <div class="card-footer">Footer</div>
    </div>
    <div class="card">
        <div class="card-header">Header</div>
        <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
        <div class="card-footer">Footer</div>
    </div>
    <div class="card">
        <div class="card-header">Header</div>
        <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
        <div class="card-footer">Footer</div>
    </div>
    <div class="card">
        <div class="card-header">Header</div>
        <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
        <div class="card-footer">Footer</div>
    </div>
    <div class="card">
        <div class="card-header">Header</div>
        <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
        <div class="card-footer">Footer</div>
    </div>
</div>

{{! .no-gutters example }}
<h2 class="h3 mt-5">Example of .no-gutters</h2>

<div class="row no-gutters">
    <div class="col-4">
        <div class="border rounded p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
    </div>
    <div class="col-4">
        <div class="border rounded p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
    </div>
    <div class="col-4">
        <div class="border rounded p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
    </div>
</div>

{{! Spacing amd border utilities example }}
<h2 class="h3 mt-5">Example of spacing amd border utilities</h2>

<div class="d-flex">
    <div class="pl-0 pr-0 pl-sm-4 pr-sm-4 ml-0 mr-0 ml-sm-4 mr-sm-4">
        <div class="border-left rounded left border-right rounded-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
    </div>
    <div class="pl-0 pr-0 pl-sm-4 pr-sm-4 ml-0 mr-0 ml-sm-4 mr-sm-4">
        <div class="border-left rounded left border-right rounded-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
    </div>
</div>

{{! Float utilities example }}
<h2 class="h3 mt-5">Example of float</h2>

<div>
    <div class="float-left"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
    <div class="float-right"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
</div>

{{! Text utilities example }}
<h2 class="h3 mt-5">Example of text utilities</h2>
<div>
    <div class="text-left"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
    <div class="text-right"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
</div>
